@import "~bootstrap/scss/bootstrap.scss";


.traffic-light{

    background-color: black;
    height: 520px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px; 

}

.red-off{

    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
     
}

.yellow-off{

    background-color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
}

.green-off{

    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
}

.red-on{

    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: -12px 2px 102px 43px rgba(223,232,44,1);
}

.yellow-on{

    background-color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: -12px 2px 102px 43px rgba(223,232,44,1);
}

.green-on{

    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 10px;
    box-shadow: -12px 2px 102px 43px rgba(223,232,44,1);
}